<div class="container mt-2">
  <div class="row">
    @for (field of fields; track field.type) {
    <div class="col-md-12">
      <div class="card text-center">
        <button
          class="btn btn-light border-0 p-0"
          cdkDrag
          [cdkDragData]="field"
        >
          <div
            class="card-body btn btn-light d-flex align-items-center justify-content-start gap-3 py-0"
          >
            <i class="material-icons fs-3 text-primary">{{ field.icon }}</i>
            <h5 class="card-title mb-0">{{ field.label }}</h5>
          </div>
        </button>
      </div>
    </div>
    }
  </div>
</div>
