<div class="card border-success mb-4 shadow-sm">
  <div class="card-header bg-success text-white py-3">
    <h5 class="mb-0 d-flex align-items-center">
      Form Elements
    </h5>
  </div>
  <div class="card-body p-2">
    <h6 class="text-muted text-center mb-4">Drag and drop elements to build your form</h6>
    <div
      cdkDropList
      id="field-selector"
      cdkDropListSortingDisabled="true"
      [cdkDropListData]="'field-selector'"
      [cdkDropListEnterPredicate]="blockDropOnElement"
      class="d-flex flex-wrap gap-2 justify-content-center"
    >
      @for (item of fieldTypes; track item.type) {
      <app-field-button [fields]="[item]!"></app-field-button>
      }
    </div>
  </div>
</div>
